* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

.svg-mobile {
  position: absolute;
  z-index: 0;
}

.svg-desktop {
  display: none;
}

.inner-first-container {
  position: relative;
  z-index: 1;
}

/* Navigation */

.nav-bar {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-around;
  gap: 30%;
}

.nav-btn {
  padding: 5px 20px 5px 20px;
  border-radius: 20px;
  border: none;
  color: hsl(192, 100%, 9%);
  background-color: #fff;
}

.logo {
  width: 5em;
}

/******************* Typography *******************/
h1 {
  font-size: 1.5rem;
  color: hsl(192, 100%, 9%);
  margin-bottom: 1em;
  font-family: "poppins", sans-serif;
}

h2 {
  font-size: 0.95rem;
}

h5 {
  font-size: 0.95rem;
  color: hsl(192, 100%, 9%);
  opacity: 70%;
  margin-bottom: 1em;
}

h4 {
  color: hsl(192, 100%, 9%);
  font-size: 1.5rem;
}

h6,
a {
  color: #fff;
  opacity: 85%;
}

p {
  color: hsl(192, 100%, 9%);
  font-size: 1rem;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: 700;
  opacity: 40%;
}
/*************************** First-container *******************************/

.first-container {
  height: 40em;
  background: hsl(193, 100%, 96%);
}

.inner-first-container-text {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cta-btn {
  padding: 10px 50px 10px 50px;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  color: #fff;
  background-color: hsl(322, 100%, 66%);
  margin-bottom: 2em;
}

.first-illustration {
  width: 15em;
  height: 20em;
}

/******************************* Middle-section ************************************/

.middle-container {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  width: 19em;
  background-color: #fff;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.middle-container-illustration {
  width: 10em;
  height: 20em;
}

.small-container-btn {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 19em;
  height: 8em;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  color: hsl(192, 100%, 9%);
  border-radius: 10px;
  /* 
  position: relative;
  top: 5em;
  z-index: 1; */
}

.get-btn {
  padding: 10px 40px 10px 40px;
  border-radius: 20px;
  border: none;
  font-weight: 700;
  color: #fff;
  background-color: hsl(322, 100%, 66%);
  margin-top: 2em;
}

/****************** footer-section *******************/

.footer {
  width: 100%;
  height: 45em;
  background-color: hsl(192, 100%, 9%);
  color: #fff;
  padding-left: 1em;
  position: absolute;
  z-index: 0;
}

.footer-logo {
  width: 8em;
  margin-top: 5em;
}

.leftside-footer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
}

.footer-icon-left {
  float: left;
  margin: 0 20px 20px 0;
}

.footer-call-icon {
  float: left;
  margin: 0 20px 20px 0;
}

.footer-email-icon {
  float: left;
  margin: 0 20px 20px 0;
}

.middleside-footer {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rightside-footer {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.icon-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bottom-icon {
  width: 8em;
}

.copy-right {
  opacity: 85%;
}

h6:hover {
  cursor: pointer;
  color: hsl(322, 100%, 66%);
}

a:hover {
  cursor: pointer;
  color: hsl(322, 100%, 66%);
}

/***************************** Responsive Break-point *****************************/

@media (min-width: 576px) {
  .svg-mobile {
    display: none;
  }

  .svg-desktop {
    display: block;
    width: 100%;
    position: absolute;
    z-index: 0;
  }

  .nav-bar {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-around;
    gap: 50%;
  }

  .first-illustration {
    width: 20em;
  }

  .inner-container {
    width: 30em;
  }

  .small-container-btn {
    width: 25em;
  }
}

@media (min-width: 992px) {
  .nav-bar {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-around;
    gap: 65%;
  }

  .inner-first-container-text {
    display: inline-flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;

    text-align: left;

    margin-left: 4.5%;
    margin-right: 4.5%;
  }

  h5 {
    display: inline;
  }

  .cta-btn {
    margin-top: 1em;
    border-radius: 30px;
  }

  .first-illustration {
    width: 30em;
  }

  .inner-container {
    width: 91%;
    height: 15em;
  }

  .middle-text-wrapper {
    margin-right: 45%;
    position: relative;
    bottom: 25%;
  }

  h4 {
    text-align: left;
    font-size: 1rem;
  }
  .p-tag {
    margin-top: 0;
    font-size: 0.75rem;
    text-align: left;
    white-space: pre-line;
  }

  .middle-container-illustration {
    width: 10em;
    height: 20em;
  }

  .grow-together {
    margin-left: 70%;
    position: relative;
    top: 25%;
  }

  .flowing-convers {
    margin-right: 70%;
    position: relative;
    top: 25%;
  }

  .middle-text-wrapper-second {
    margin-left: 46%;
    position: relative;
    bottom: 25%;
  }

  .middle-text-wrapper-third {
    margin-left: 45%;
    position: relative;
    bottom: 25%;
  }

  .your-user {
    margin-right: 70%;
    position: relative;
    top: 25%;
  }

  .footer {
    width: 100%;
    height: 20em;
    background-color: hsl(192, 100%, 9%);
    color: #fff;
    padding-left: 1em;
  }

  h6 {
    text-align: left;
    white-space: pre-line;
  }

  .footer-icon-left {
    float: left;
    margin: 20px 20px 20px 0;
  }

  .middleside-footer {
    margin-top: 1em;
    position: absolute;
    left: 45%;
    bottom: 30%;
  }

  .rightside-footer {
    position: absolute;
    left: 60%;
    bottom: 30%;
  }

  .icon-footer {
    position: absolute;
    left: 75%;
    bottom: 30%;
  }

  h6,
  a {
    font-size: 0.65rem;
  }
}

@media (min-width: 1200px) {
  .first-illustration {
    margin-left: 10em;
  }
}
